@import 'variables';
@import 'typography';

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

@import 'components/all';

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
}