$white: #FFF;

$light-font-colour: #F5F5F5;
$secondary-light-font-colour: #B0B0B0;
$dark-font-colour: #3b343b;
$secondary-dark-font-colour: #1b141b;

$redback-primary: #6E3CAF;
$redback-secondary: #51ccf5;

$navigation-primary: #8379f4;
$navigation-secondary: #66e9cb;
$navigation-inactive: rgb(158, 158, 158);
$navigation-plain: #555;

$footer-dark-colour: #353450;

$project-font-colour: $light-font-colour;
$project-inverse-font-colour: $dark-font-colour;

$badge-web: #FFF;

$global-drop-shadow: drop-shadow(0 0 2.5rem $dark-font-colour);
$global-border-radius: 0.5rem;
$global-box-shadow: 0 1px 30px 0 rgba(0, 0, 0, .2);