.contact {
  padding: 4rem 0;
  background: linear-gradient(to top right, $navigation-primary 0%, lighten($navigation-primary, 5%) 100%);
  color: $light-font-colour;
  text-align: center;

  @include media-breakpoint-down(sm) {
    padding: 3rem 0;
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__body {
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }
}