.footer {
  $text-colour: transparentize($color: $white, $amount: 0.5);
  background: linear-gradient(to top right, $footer-dark-colour 0%, darken($footer-dark-colour, 5%) 100%);
  padding: 1.5rem 0;
  min-height: 7rem;
  font-family: 'Lato', sans-serif !important;
  font-weight: 300;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  &__logo {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include media-breakpoint-down(md) {
      justify-content: center;
      margin-bottom: 1rem;
    }

    img {
      height: 3rem;
    }
  }

  &__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    color: $text-colour;
    
    @include media-breakpoint-up(md) {
      text-align: right;
    }

    @include media-breakpoint-down(md) {
      justify-content: center;
    }

    a {
      color: $text-colour;

      i {
        background: -webkit-linear-gradient(bottom left, $redback-secondary, $redback-primary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  &__link {
    font-size: 2.5rem;
    margin-left: 1rem;
  }

  &__copy {
    color: $text-colour;
    text-align: center;
    font-size: 0.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}