.hero {
  background-image: url(./../img/grid_noise.png), linear-gradient(45deg, #20263a 0%,#4f5f93 100%);
  background-blend-mode: multiply;

  z-index: -10;
  height: 75vh;

  &__overlay {
    width: 100%;
    height: 100%;

    content: ' ';
    position: absolute;
    background-image: url(./../img/bg_shape.svg);
    background-size: 1080px;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &__username {
    color: $light-font-colour;
    font-size: 3.5rem;
    filter: $global-drop-shadow;
    pointer-events: none;

    &:before {
      $shadow-size: 25rem;

      content: ' ';
      display: block;
      height: $shadow-size;
      width: $shadow-size;
      position: absolute;
      top: calc(2rem - #{$shadow-size/2});
      left: calc(50% - #{$shadow-size/2});

      z-index: -10;
      background-image: url(./../img/RT_Shadow.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      background-blend-mode: multiply;
    }
  }

  &__navigation {
    z-index: 1;
  }
}