.hero {
  z-index: -10;
  height: 25rem;
  background-image: url(./../img/grid_noise.png), linear-gradient(to top right, $dark-font-colour 0%, lighten($dark-font-colour, 10%) 100%);
  background-blend-mode: multiply;
  box-shadow: $global-box-shadow;
  margin-bottom: 1rem;

  @include media-breakpoint-down(sm) {
  }

  &__logo {
    height: 10rem;
  }

  &__username {
    color: $light-font-colour;
    font-size: 3.5rem;
    pointer-events: none;

    @include media-breakpoint-down(sm) {
      font-size: 2.5rem;
    }
  }

  &__navigation {
    z-index: 1;
  }
}